{% extends 'partials/base.html' %}

{% block content %}
<div class='container-fluid'>
    <div class="row">

        {% for c in cards %}


        <div class="card text-center col-sm-4 m-2" style="width: 18rem;">
            <img src="{{c.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{c.name|title}}</h5>
              <a href="{% url 'new_sale' %}" class="btn btn-primary">Sell Card</a>
            </div>
          </div>

      

    {% endfor %}
    </div>

</div>
{% endblock %}