{% extends 'partials/base.html' %}

{% block content %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="conatiner'">
            <div class='row'>
                <div class="card text-center col-sm-4 m-2 w-25" style="width: 18rem;">
                    <img src="{{c.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{c.name|title}}</h5>
                        <a href="{% url 'new_sale' %}" class="btn btn-primary">Sell Card</a>
                    </div>
                </div>
                <div class="card text-center col-sm-4 m-2 w-25" style="width: 18rem;">
                    <img src="{{c.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{c.name|title}}</h5>
                        <a href="{% url 'new_sale' %}" class="btn btn-primary">Sell Card</a>
                    </div>
                </div>
                <div class="card text-center col-sm-4 m-2 w-25" style="width: 18rem;">
                    <img src="{{c.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{c.name|title}}</h5>
                        <a href="{% url 'new_sale' %}" class="btn btn-primary">Sell Card</a>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% endblock %}