{% extends 'partials/base.html' %}

{% block content %}
<h1>All Posts</h1>
<a class="btn btn-primary" href="{% url 'new_post' %}" role="button">New Post</a>
<br>

{% for p in posts%}
<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <a href="{% url 'single_post' p.id %}" >
      <p>{{p.title}}</p>
      </a>
        <footer class="blockquote-footer"><cite title="Source Title">{{p.creator}}</cite></footer>
      </blockquote>
    </div>
    <div class="card-header">
      {{ p.created_at }}
    </div>
  </div>
   {% endfor %}
   {% endblock %}

