{% extends 'partials/base.html' %}

{% block content %}


<h1>All Posts</h1>


  <a class="btn btn-primary" href="{% url 'new_post' %}" role="button">New Post</a>
  <br>
{% for p in posts%}
<div class="card">
  <div class="card-body">
      <a href="{% url 'single_post' p.id %}" >
      <p>{{p.title}}</p>
      </a>
      <p class = 'post-by'>{{p.content}}</p>  
      <footer class = 'post-by'>Post by: {{p.creator|title}} - {{ p.created_at }}</footer>
      
    </div>
    </div>
  
  <br>
   {% endfor %}
   {% endblock %}

